<!--The content below is only a placeholder and can be replaced.-->
<h1>Hello {{name}}</h1>
<ul>
	<li *ngFor="let student of students">
		<h2>{{student.studentId}}</h2>
		<p>{{student.name}} {{student.surname}}</p>
		<p *ngIf="student.gpa > 2.5">Good Student who get grade {{student.gpa | number:'1.2-2'}}</p>
		<p *ngIf="student.gpa <= 2.5">Bad Student who get grade {{student.gpa | number:'1.2-2'}}</p>
		<h3 *ngIf="student.gpa < 2.2">YOU MAY BE OUT OF UNIVERSITY</h3>
	</li>
</ul>
<p> The average gps is {{averageGpa() | number:'1.4-4'}}</p>
<p> Yo the time is {{time | date:'HH:mm aa'}}</p>
